*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color: aqua;
    color: black;
    width: 100%;
    height: 100px;
    text-align: center;
}
.Intro{
    background-color: blueviolet;
    font-weight: 100%;
    height: 100px;
}
.AD{
    background-color: brown;
    width: 100%;
    height: 600px;
    display: flex;
}
.left_AD{
    background-color: yellow;
    width: 80%;
    height: 600px;
}
.right_ADC{
    background-color: red;
    width: 20%;
    height: 600px;
}
.top{
    background-color: palevioletred;
    height: 300px;
    
}
.bottom{
    background-color: green;
    height: 300px;
 
}
footer{
    color: black;
    background-color: goldenrod;
    width: 100%;
    height: 100px;
    text-align: center;
}